@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:400&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Kaushan Script', cursive; */

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  align-items: flex-end;
  font-size: 0px;
  margin-bottom: 115px;
}

.logo {
  text-decoration: none;
  color: #95e1d3;
  font: 900 30px 'Montserrat', sans-serif;
  margin-bottom: 15px;
}

.menu {
  display: flex;
  width: 490px;
  justify-content: space-between;
  list-style: none;
  font: 400 14px 'Montserrat', sans-serif;
}

.menu li a {
  color: #95e1d3;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 200ms linear;
}

.menu li a::after {
  display: block;
  content: "";
  width: auto;
  margin-top: 15px;
  height: 3px;
  background-color: #f38181;
  opacity: 0;
  transition: opacity 200ms linear;
}

.menu li a:hover {
  color: #f38181;
}

.menu li a:hover::after {
  opacity: 1;
}

/* Section 1 */

.serv-section {
  margin-bottom: 88px;
}

.caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}

.caption span {
  display: block;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: none;
}

.caption::after {
  display: block;
  content: "";
  width: 60px;
  margin: 45px auto 0;
  height: 3px;
  background-color: #f38181;
}

.service {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}

.service li {
  width: 300px;
  padding-left: 81px;
  margin-bottom: 94px;
}

.service li:nth-child(n+3) {
  margin-bottom: 0px;
}

.serv-cap {
  font: 400 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 12px;
}

.clock::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/alarm.png);
}

.web::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/line.png);
}

.create::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/comp.png);
}

.seo::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/book.png);
}

.css::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/home.png);
}

.digital::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/bracket.png);
}

.serv-text {
  font: 400 15px 'Roboto', sans-serif;
  color: #999999;
  line-height: 24px;
}

/* Section 2 */

.team-section {
  margin-bottom: 82px;
}

.team-text {
  font: 400 15px 'Roboto', sans-serif;
  color: #999999;
  line-height: 24px;
  text-align: center;
  width: 950px;
  margin: 0 auto 92px;
}

.team {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.photo {
  font-size: 0px;
  background-color: #95e1d3;
  position: relative;
  margin-bottom: 30px;
}

.photo img, .photo .social {
  transition: all 200ms;
}

.photo:hover img {
  transform: translate(-5px, -5px);
}

.photo:hover .social {
  transform: translate(-5px, -5px);
  opacity: 1;
}

.social {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  height: 470px;
  width: 380px;
  background: linear-gradient(to top, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);;
  opacity: 0;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social li {
  margin-right: 1px;
}

.social li a {
  display: block;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  transition: background-color 200ms linear;
}

.face {
  background: url(../img/facebook.png) center no-repeat;
}

.twit {
  background: url(../img/twitter.png) center no-repeat;
}

.pin {
  background: url(../img/pinterest.png) center no-repeat;
}

.insta {
  background: url(../img/instagram.png) center no-repeat;
}

.social li:nth-last-child(1) {
  margin-right: 0px;
}

.social li a:hover {
  background-color: #95e1d3;
}

.name {
  font: 400 14px 'Montserrat', sans-serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  width: 380px;
  margin-bottom: 12px;
}

.spec {
  font: italic 300 15px 'Roboto', sans-serif;
  line-height: 24px;
  color: #999999;
  text-transform: capitalize;
  text-align: center;
  width: 380px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-top: 1px solid #e5e5e5;
}

.copyright {
  font: 400 14px 'Montserrat', sans-serif;
  color: #333333;
}

.copyright a {
  font: 400 14px 'Montserrat', sans-serif;
  color: #f38181;
  text-decoration: none;
}

.subscribe {
  display: flex;
  justify-content: flex-end;
  font-size: 0;
}

.subscribe .mail {
  display: block;
  height: 38px;
  width: 230px;
  border: 1px solid #e7e7e7;
  color: #cccccc;
  font: italic 300 15px 'Roboto', sans-serif;
  line-height: 38px;
  text-indent: 10px;
}

.subscribe .button {
  display: block;
  height: 40px;
  width: 150px;
  background-color: #95e1d3;
  color: #ffffff;
  border: none;
  font: 900 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
}