/* FONTS */

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-slab-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-slab-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-slab-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-slab-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* great-vibes-regular - latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'),
       url('../fonts/great-vibes-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/great-vibes-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-regular - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'),
       url('../fonts/pt-serif-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-serif-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* HTML */

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: flex-end;
  margin-bottom: 125px;
}

.logo a {
  color: #fed136;
  text-decoration: none;
  font: 400 26px 'Great Vibes', cursive;
  letter-spacing: 0.05em;
}

.menu {
  display: flex;
  width: 480px;
  justify-content: space-between;
  list-style: none;
}

.menu li a {
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  font: 400 14px 'Montserrat', sans-serif;
}

.menu li a:hover {
  color: #fed136;
  text-decoration: none;
  text-transform: uppercase;
  font: 400 14px 'Montserrat', sans-serif;
}

/* Service Section */

.service-section {
  margin-bottom: 100px;
}

.caption {
  width: 290px;
  margin: 0 auto 12px;
  text-align: center;
  color: #222222;
  font: 700 40px 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.025em;
}

.caption-text {
  width: 300px;
  margin: 0 auto 75px;
  text-align: center;
  color: #777777;
  font: 400 italic 16px 'PT Serif', serif;
}

.service {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}

.service li {
  width: 290px;
}

.serv-caption {
  color: #222222;
  font: 700 18px 'Montserrat', sans-serif;
  letter-spacing: -0.025em;
  margin-bottom: 20px;
}

.commerce::before {
  display: block;
  width: 73px;
  height: 73px;
  margin: 0 auto 24px;
  content: "";
  background-image: url(../img/basket.png);
}

.responsible::before {
  display: block;
  width: 73px;
  height: 73px;
  margin: 0 auto 24px;
  content: "";
  background-image: url(../img/comp.png);
}

.security::before {
  display: block;
  width: 73px;
  height: 73px;
  margin: 0 auto 24px;
  content: "";
  background-image: url(../img/lock.png);
}

.serv-text {
  color: #777777;
  font: 400 14px 'Roboto Slab', sans-serif;
}

/* Contact Section */

.contact-section {
  width: 100%;
  background: #222222 url(../img/background.png) no-repeat;
  background-position: center;
  background-size: contain;
  padding: 110px 0 115px;
}

.contact-caption {
  width: 290px;
  margin: 0 auto 12px;
  text-align: center;
  color: #ffffff;
  font: 700 40px 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.025em;
}

.contact-text {
  width: 300px;
  margin: 0 auto 75px;
  text-align: center;
  color: #777777;
  font: 400 italic 16px 'PT Serif', serif;
}

.feedback {
  display: flex;
  justify-content: space-between;
  height: 210px;
  flex-flow: column wrap;
  margin-bottom: 30px;
}

.feedback input {
  width: 455px;
  height: 50px;
  background-color: #ffffff;
  color: #bbbbbb;
  font: 700 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-indent: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.feedback textarea {
  width: 455px;
  height: 210px;
  background-color: #ffffff;
  color: #bbbbbb;
  line-height: 48px;
  font: 700 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-indent: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding-top: 17px;
}

.mandatory:valid {
  outline: 2px solid rgb(0,255,0);
}

.mandatory:invalid {
  outline: 2px solid rgb(255,0,0);
}
.button {
  display: block;
  width: 240px;
  height: 65px;
  margin: 0 auto;
  background-color: #fed136;
  color: #ffffff;
  font: 700 18px 'Montserrat', sans-serif;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}