@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
}

.header {
  background: url(../img/back-desktop.png) center no-repeat;
  padding: 20px 0 140px;
  width: 100%;
}

.menu {
  list-style: none;
  display: flex;
  width: 180px;
  justify-content: space-around;
  margin: 0 auto;
}

.menu li {
  width: 86px;
  height: 32px;
  text-align: center;
  border: 2px solid transparent;
}

.menu li:hover {
  border: 2px solid #ffffff;
  border-radius: 32px;
}

.menu li a {
  font: 700 14px 'Montserrat', sans-serif;
  text-decoration: none;
  color: #ffffff;
  line-height: 32px;
}

.navigation {
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  height: 175px;
  margin-bottom: 28px;
}

.logo {
  display: block;
  font: 700 20px 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.05em;
}

.caption {
  font: 700 30px 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.cap-text {
  font: 300 18px 'Roboto', sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 13px;
}

.find {
  display: block;
  width: 280px;
  height: 40px;
  background-color: #ff4e50;
  margin: 0 auto;
  font: 700 14px 'Montserrat', sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 40px;
}

.meeting {
  display: flex;
  padding: 64px 0 57px;
  flex-flow: column;
}

.meet-caption {
  font: 700 22px 'Montserrat', sans-serif;
  color: #333333;
  text-align: center;
  margin-bottom: 10px;
}

.partner {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 3px;
}

.partner li {
  margin-bottom: 25px;
  text-align: center;
}

.photo {
  display: block;
  border-radius: 50%;
}

.photo-cont {
  width: 124px;
  height: 124px;
  position: relative;
  margin: 0 auto 18px;
}

.tv::after {
  display: block;
  height: 32px;
  width: 32px;
  content: "";
  border-radius: 50%;
  background: #ff4e50 url(../img/icon-tv.png) center no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 3px solid #ffffff;
}

.glass::after {
  display: block;
  height: 32px;
  width: 32px;
  content: "";
  border-radius: 50%;
  background: #ffa507 url(../img/icon-glass.png) center no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 3px solid #ffffff;
}

.coffee::after {
  display: block;
  height: 32px;
  width: 32px;
  content: "";
  border-radius: 50%;
  background: #1cd7ad url(../img/icon-coffee.png) center no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 3px solid #ffffff;
}

.telegram::after {
  display: block;
  height: 32px;
  width: 32px;
  content: "";
  border-radius: 50%;
  background: #4e73db url(../img/icon-telegram.png) center no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 3px solid #ffffff;
}

.name {
  font: 700 14px 'Montserrat', sans-serif;
  color: #333333;
  margin-bottom: 12px;
}

.feats {
  font: 300 14px 'Roboto', sans-serif;
  color: #666666;
  width: 225px;
  margin: 0 auto;
}

.see-more {
  font: 700 14px 'Montserrat', sans-serif;
  color: #ff4e50;
  height: 36px;
  width: 276px;
  border: 2px solid #ff4e50;
  border-radius: 36px;
  background-color: #ffffff;
  margin: 0 auto;
  box-sizing: content-box;
}

/* Tablet design */

@media screen and (min-width:768px) and (max-width:1439px) {
  .wrapper {
    width: 768px;
  }

  .header {
    background: url(../img/back-desktop.png) center no-repeat;
    padding: 38px 0 234px;
    width: 100%;
  }
  
  .navigation {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 668px;
    height: auto;
    margin: 0 auto 140px;
  }
  
  .menu {
    margin: 0;
  }

  .caption {
    font-size: 52px;
    width: 532px;
    margin: 0 auto 24px;
  }
  
  .cap-text {
    font-size: 24px;
    margin-bottom: 32px;
  }
  
  .find {
    width: 226px;
  }
  
  .meeting {
    display: flex;
    padding: 69px 0 57px;
    flex-flow: column;
  }
  
  .meet-caption {
    margin-bottom: 32px;
  }

  .partner {
    flex-flow: column wrap;
    height: 518px;
    width: 492px;
    margin: 0 auto 12px;
  }

  .partner li {
    margin-bottom: 50px;
  }
 
  .partner li:nth-child(2n) {
    margin-bottom: 0;
  }

  .see-more {
    width: 189px;
  }
}

/* Desktop design */

@media screen and (min-width:1440px) {
  .wrapper {
    width: 940px;
  }

  .header {
    background: url(../img/back-desktop.png) center no-repeat;
    padding: 0 0 235px;
    width: 100%;
  }
  
  .navigation {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: 0 auto 94px;
  }
  
  .menu {
    margin: 0;
  }

  .caption {
    font-size: 52px;
    width: 532px;
    margin: 0 auto 24px;
  }
  
  .cap-text {
    font-size: 24px;
    margin-bottom: 32px;
  }
  
  .find {
    width: 226px;
  }
  
  .meeting {
    display: flex;
    padding: 66px 0 57px;
    flex-flow: column;
  }
  
  .meet-caption {
    margin-bottom: 32px;
  }

  .partner {
    flex-flow: row;
    align-items: flex-start;
    margin: 0 auto 8px;
    justify-content: space-between;
  }
 
  .see-more {
    width: 189px;
  }
}