@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,900&display=swap');


/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.logo {
  float: left;
  line-height: 92px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #555252;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.menu {
  float: right;
  line-height: 92px;
}

.menu li {
  list-style: none;
  float: left;
  margin-right: 32px;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #0f0101;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.menu li a:hover {
  color: #1abc9c;
}

.slider {
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url(../img/Slider1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-bottom: 100px; */
}

.slide {
  height: 600px;
  position: relative;
  margin: 0 auto;
}

.sl-cont {
  position: absolute;
  left: 185px;
  top: 215px;
}

.sl-head {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 82px;
  letter-spacing: -0.02em;
}

.sl-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  line-height: 54px;
  letter-spacing: -0.02em;
}

.arrow {
  background-color: rgba(26, 188, 156, 0.65);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0px;
  height: 104px;
  width: 104px;
  color: #ffffff;
  font-size: 100px;
}

.right {
  right: 0px;
}

.left {
  left: 0px;
}

.arrow:hover {
  background-color: rgba(26, 188, 156, 1);
}

.prod-cont {
  position: relative;
  margin: 0 auto;
  padding: 100px 0px;
  font-size: 0px;
  background-color: #e9f0fd;
}

.cont-head {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #515151;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
  line-height: 32px;
  margin-bottom: 79px;
}

.cont-head::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 32px auto 0px;
}

.prod-item {
  float: left;
  width: 255px;
  height: 323px;
  background-color: #ffffff;
  position: relative;
  margin-right: 30px;
}

.prod-item:last-child {
  margin-right: 0px;
}

.prod-name {
  display: inline-block;
  width: 201px;
  line-height: 40px;
  background-color: #323232;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 900;
  text-transform: uppercase;
  text-indent: 13px;
  position: absolute;
  bottom: 0px;
}

.prod-price {
  display: inline-block;
  width: 54px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  background-color: #8c8c8c;
  text-align: center;
  font-weight: 900;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.focus {
  background-color: rgba(0, 0, 0, 0.55);
  width: 235px;
  height: 262px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: -1;
}

.buttons {
  position: absolute;
  right: 35px;
  top: 80px;
}

.buttons li {
  display: inline-block;
  margin-right: 9px;
}

.buttons li button {
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.buttons li:last-child {
  margin-right: 0px;
}

.buttons li button:hover {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}

.add-cart {
  display: inline-block;
  position: absolute;
  width: 168px;
  height: 50px;
  background-color: #323232;
  font-size: 30px;
  color: #ffffff;
  border: 1px solid #ffffff;
  top: 136px;
  right: 35px;
}

.add-cart span {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 50px;
  vertical-align: middle;
}

.add-cart:hover {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}

.prod-item:hover .prod-name {
  background-color: #1abc9c;
}

.prod-item:hover .prod-price {
  background-color: #7fd9c7;
}

.prod-item:hover>.focus {
  z-index: 1;
}

.footer {
  background-color: #323232;
  width: 100%;
}

.copyright {
  display: block;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  color: #fefefe;
  font-size: 16px;
  line-height: 88px;
  letter-spacing: -0.02em;
  text-align: center;
}

.copyright a {
  color: #46bfa9;
  text-decoration: none;
}