.section__caption {
  @include font-full ($main-font, 700, 30px, $main-color, uppercase);
  text-align: center;
  margin: 0;
}

.section__sub-caption {
  @include font-full ($feature-font, 400, 24px, $main-color, none);
  text-align: center;
}

.section-caption__text {
  @include font-full ($text-font, 400, 15px, $text-color, none);
  text-align: center;
}

.section__caption::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto 45px;
}