$header-color: #ffffff;
$main-color: #333333;
$text-color: #999999;
$main-font: 'Montserrat', sans-serif;
$text-font: 'Roboto', sans-serif;
$feature-font: 'Kaushan Script', sans-serif;
$menu-color-hover: #fce38a;
$icon-color: #95e1d3;
$social-back-color: #fce38a;
$social-back-hover: #f38181;
$social-color: #f38181;
$social-color-hover: #ffffff;