/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300,300i,400&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Kaushan Script', sans-serif; */

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))), url("../img/background.png") no-repeat;
  background: -o-linear-gradient(top, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%), url("../img/background.png") no-repeat;
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%), url("../img/background.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1000px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 28px;
}

.navigation__logo {
  margin: 0;
}

.logo {
  color: #ffffff;
  font: 700 30px 'Montserrat', sans-serif;
  text-decoration: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font: 400 14px 'Montserrat', sans-serif;
}

.menu__menu-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__symbol {
  fill: #ffffff;
  width: 14px;
  height: 14px;
}

.menu__symbol--hover:hover {
  fill: #fce38a
}

.menu__menu-link::after {
  display: block;
  content: "";
  width: auto;
  margin-top: 15px;
  height: 3px;
  background-color: #fce38a;
  opacity: 0;
}

.menu__menu-link--hover:hover {
  color: #fce38a;
}

.menu__menu-link--hover:hover::after {
  opacity: 1;
}

.header__secondary-caption {
  font: 400 72px 'Kaushan Script', sans-serif;
  color: #ffffff;
  margin: 150px auto 13px;
  width: 580px;
}

.header__primary-caption {
  font: 700 150px 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 0 auto 87px;
  width: 820px;
  text-align: center;
  text-transform: uppercase;
}

.header__button-more {
  margin: 0 auto;
  display: block;
}

.button-more {
  background-color: transparent;
  width: 161px;
  height: 40px;
  border: 3px solid #ffffff;
  color: #ffffff;
  font: 700 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.service-caption {
  margin: 0 auto;
}

.section-caption__caption {
  font: 700 30px 'Montserrat', sans-serif;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.section-caption__sub-caption {
  font: 400 24px 'Kaushan Script', sans-serif;
  text-transform: none;
}

.section-caption__caption::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto 45px;
}

.section-caption__text {
  font: 400 15px 'Roboto', sans-serif;
  color: #999999;
  width: 980px;
  margin: 0 auto 90px;
  text-align: center;
}

.services-section__services {
  margin-top: -60px;
  margin-bottom: 90px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  height: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item {
  width: 300px;
  padding-left: 81px;
}

.services__name {
  font: 400 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  position: relative;
}

.services__text {
  font: 400 15px 'Roboto', sans-serif;
  color: #999999;
  line-height: 24px;
}

.clock::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/alarm.png);
}

.web::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/line.png);
}

.create::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/comp.png);
}

.seo::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/book.png);
}

.css::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/home.png);
}

.digital::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -59px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/bracket.png);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.team__photo-cont {
  font-size: 0px;
  background-color: #95e1d3;
  position: relative;
  margin-bottom: 30px;
  height: 470px;
  width: 380px;
}

.team__photo {
  position: absolute;
  top: 0;
  left: 0;
  height: 470px;
  width: 380px;
}

.team__social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  left: 0px;
  height: 470px;
  width: 380px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252,227,138,0.9)), to(rgba(243,129,129,0.9)));
  background: -o-linear-gradient(bottom, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
  background: linear-gradient(to top, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
}

.team__photo--hover:hover {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.team__social--hover:hover {
  opacity: 1;
}

.social__item {
  display: block;
  background-color: #fce38a;
  padding: 14px;  
  fill: #f38181;
  text-align: center;
  margin-right: 1px;
}

.social__icon {
  height: 26px;
  width: 26px;
}

.social__item--hover:hover {
  background-color: #f38181;
  border: 1px solid #f38181;
  fill: #ffffff;
}

.team__name {
  font: 400 14px 'Montserrat', sans-serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  width: 380px;
  margin-bottom: 12px;
}

.team__speciality {
  font: italic 300 15px 'Roboto', sans-serif;
  line-height: 24px;
  color: #999999;
  text-transform: capitalize;
  text-align: center;
  width: 380px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  border-top: 1px solid #e5e5e5;
}

.copyright {
  font: 400 14px 'Montserrat', sans-serif;
  color: #333333;
}

.copyright__link {
  font: 400 14px 'Montserrat', sans-serif;
  color: #f38181;
  text-decoration: none;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0;
}

.subscribe__email {
  display: block;
  height: 38px;
  width: 230px;
  border: 1px solid #e7e7e7;
  color: #cccccc;
  font: italic 300 15px 'Roboto', sans-serif;
  line-height: 38px;
  text-indent: 10px;
}

.subscribe__submit {
  display: block;
  height: 40px;
  width: 150px;
  background-color: #95e1d3;
  color: #ffffff;
  border: none;
  font: 900 14px 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
}